:root {
    --brandColor:  rgba(69, 9, 116,1);
    --transparentBackground: rgba(255, 255, 255, 0.429);
    --titleBackground:  rgba(69, 9, 116,0.75);
    --spaceBetweenElements: 75px;
    --tabletSpaceBetweenElements: 25px;
    --whiteText: white;
}
*{
    margin: 0px;
    padding: 0px;
    word-wrap: break-word;
    white-space: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
}

/* Text stylings */


h1 {
    color:  var(--brandColor);
    font-size: 32px;
}

h2 {
    color: var(--brandColor);
    font-size: 28px;
}

h3 {
    color: var(--brandColor);
    font-size: 22px;
}

a {
    text-decoration: none;
    color: var(--brandColor);
}

.aWhite {
    text-decoration: none;
    color: var(--whiteText)
}

/* Header Styles */

header {
    background-image: linear-gradient(to top, rgba(255,255,255,0.3), rgba(255,255,255,1));
    position: fixed;
    left:0;
    right:0;
    top:0;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
}

#logo {
    grid-area: logo;
}

#logo img {
    height: 75px
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
}

li {
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    margin: 0px 25px;
}
  
li:hover {
    background-color: var(--brandColor);
    color: white;
    transition: 0.5s;
}

/* Aside Borders */

.asideBorderLeft{
    border-left: 2px solid var(--brandColor);
    border-top: 2px solid var(--brandColor);
    color: var(--brandColor);
    text-align: center;
    padding: 5px;
}

.asideBorderRight{
    border-right: 2px solid var(--brandColor);
    border-top: 2px solid var(--brandColor);
    color: var(--brandColor);
    text-align: center;
    padding: 5px;
}

/* Hero Section Style */

#hero {
    display: flex;
    background-image: url(../images/desktop-hero-rob-hiking-sunset.jpeg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    margin-bottom: var(--spaceBetweenElements);
    justify-content: center;
}

#heroTitle {
    align-self: flex-end;
    padding: 10px;
    max-width: 45%;
    background-color: var(--transparentBackground);
    margin-bottom: 50px;
}

main {
    max-width: 95%;
    margin: 0 auto;
}

/* About Section Styles */

#about {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 15% 85%;
    grid-template-areas: 
    "aboutAside aboutContent"
    ;
    margin-bottom: var(--spaceBetweenElements);
}

#aboutAside{
    grid-area: aboutAside;
}

#aboutContent {
    grid-area: aboutContent;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

#aboutContent p {
    margin-left: 10px;
    width: 500px;
}

article img {
    border-radius: 20px;
    margin-left: 10px;
    max-height: 300px;
}

/* Work Section */

#work {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 80% 20%;
    grid-template-areas: 
    "workContent workAside"
    ;
    margin-bottom: var(--spaceBetweenElements);
}

#workContent {
    grid-area: workContent;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: 
    "portfolioCard1 portfolioCard1"
    "portfolioCard2 portfolioCard3"
    ;
}

#portfolioCard1{
    grid-area: portfolioCard1;
    background-image: url(../images/portfolio-saleyha-ahsan.jpg);
    
}

#portfolioCard2{
    grid-area: portfolioCard2;
    background-image: url(../images/portfolio-simon-tutty-photography.jpg);
}

#portfolioCard3{
    grid-area: portfolioCard3;
    background-image: url(../images/portfolio-allclear-window-cleaning.jpg);
}

.portfolioCard{
    display: flex;
    align-items: stretch;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    align-items: flex-end;
    justify-items: center;
    margin:5px;
    border: 1px solid var(--brandColor);
}

.portfolioCard:hover {
    transition: all 0.5s ease-in-out;
    box-shadow: inset 0px 0px 8px
    var(--brandColor), 0 0 15px
    var(--brandColor);
}

.cardTitle{
    text-align: center;
    background-color: var(--titleBackground);
    flex-grow: 1;
    padding: 10px 5px 10px 5px;
    margin-bottom: 15px;
}

#workAside {
    grid-area: workAside;
}

/* Contact Section */

#contact {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
    "contactAside contactDetails"
    ;
    margin-bottom: var(--spaceBetweenElements);
}

#contactAside {
    grid-area: contactAside;
}

#contactDetails {
    grid-area: contactDetails;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: space-around;
}

.contactCards {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.contactCards p {
    user-select: all;
}

.contactCards:hover {
    transition: 0.3s;
    transform: scale(1.15); 
}

/* Footer Styles */

footer {
    display: flex;
    background-color: var(--brandColor);
    padding: 25px;
    justify-content: center;
    text-align: center;
}

footer img {
    border: 1px solid white;
    margin-bottom: var(--tabletSpaceBetweenElements);
}

/* Tablet styling */

@media screen and (max-width:768px){

    /* Aside Styles */


    .asideBorderLeft{

        border-left: 2px solid var(--brandColor);
        border-bottom: 2px solid var(--brandColor);
        border-top: 0;
    }

    .asideBorderRight{

        border-right: 2px solid var(--brandColor);
        border-bottom: 2px solid var(--brandColor);
        border-top: 0;
    }

    /* Tablet Header Styles */

    ul {
        justify-content: space-evenly;

    }

    li {
        text-align: center;
        padding: 5px;
        font-weight: 600;
        font-size: 16px;
    }

    /* Tablet Hero Styles */

    #hero {
        background-position: top right;
        min-height: 35vh;
        padding: 15px;
        margin-bottom: var(--tabletSpaceBetweenElements);
    }
    
    #heroTitle {
        max-width: 80%;
        margin-bottom: 0;
    }

    /* Tablet About Section Styles */


    #about {
        grid-template-rows: 2;
        grid-template-columns: 30% 70%;
        grid-template-areas: 
        "aboutAside aboutAside"
        "aboutContent aboutContent"
        ;
        margin-bottom: var(--tabletSpaceBetweenElements)
    }


    #aboutContent {
        margin-top: var(--tabletSpaceBetweenElements)
    }

    article img {
        margin-left: 0;
        max-width: 40%;
    }

    /* Tablet Work Section */

    #work {
        grid-template-rows: 2;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "workAside workAside"
        "workContent workContent"
        ;
        margin-bottom: var(--tabletSpaceBetweenElements);
    }

    #workAside {
        margin-bottom: var(--tabletSpaceBetweenElements);
    }

    /* Tablet Contact Section */

    #contact {
        grid-template-rows: 2;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "contactAside contactAside"
        "contactDetails contactDetails"
        ;
        margin-bottom: var(--tabletSpaceBetweenElements);
    }

    #contactAside {
        margin-bottom: var(--tabletSpaceBetweenElements);
    }

    section img {
        max-width: 25px;
    }

    /* Tablet Footer Styles */

    footer img {

        margin-bottom: var(--tabletSpaceBetweenElements);
        max-width: 100px;
    }
}

/* Mobile styling */

@media screen and (max-width:480px){

    /* Mobile Header Styles */

    header {
        position: relative;
    }

    nav {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto;
        grid-template-areas: 
        "logo"
        "ulNav"
        ;
    }

    #ulNav{
        grid-area: ulNav;
    }

    #logo {
        margin: 0 auto;
    }

    /* Mobile About Section Styles */

    #about {
        grid-template-rows: auto;
        grid-template-columns: 100%;
        grid-template-areas: 
        "aboutAside "
        "aboutContent"
        ;
        margin-bottom: var(--tabletSpaceBetweenElements)
    }

    #aboutContent {
        flex-wrap: wrap;
    }

    article img {
        min-width: 90%;
        margin-bottom: var(--tabletSpaceBetweenElements);
    }

    /* Mobile Work Section Styles */

    #workContent {
        grid-template-areas: 
        "portfolioCard1"
        "portfolioCard2"
        "portfolioCard3"
        ;
    }
    
    #portfolioCard3 {
        height: 12em;
    }
    
    #portfolioCard2 {
        height: 12em;
    }

    .portfolioCard {
        margin-top: 25px;
        background-size: cover;
    }
}