:root {
    --brandColor:  rgba(69, 9, 116);
    --transparentBackground: rgba(255,255,255,0.4);
    --titleBackground: rgba(111,111,111,0.8);
    --spaceBetweenElements: 75px;
}
*{
    /*border: 1px solid black;*/
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


p {
    line-height: 1.5;
}

h1 {
    color:  var(--brandColor);
    font-size: 32px;
}

h2 {
    color: var(--brandColor);
    font-size: 28px;
}

h3 {
    color: var(--brandColor);
    font-size: 22px;
}

/* Header Styles */

header {
    display: flex;
    background-image: linear-gradient(to top, rgba(255,255,255,0.3), rgba(255,255,255,1));
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left:0;
    right:0;
    top:0;
    z-index: 1;
}

#logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100px;
}

nav {
    display: flex;
}

ul {
    display: flex;
    list-style: none;
    flex-flow: row;
}

li {
    margin: 0px 25px;
}

/* Aside Borders */

.asideBorderLeft{
    border-right: 5px solid var(--brandColor);
    border-top: 5px solid var(--brandColor);
    border-radius: 5px;
    color: var(--brandColor);
}

.asideBorderRight{
    border-left: 5px solid var(--brandColor);
    border-top: 5px solid var(--brandColor);
    border-radius: 5px;
    color: var(--brandColor);
}

/* Hero Section Style */

#hero {
    display: flex;
    position: relative;
    background-image: url(../images/desktop-hero-rob-hiking-sunset.jpeg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 55vh;
    padding: 25px;
    margin-bottom: var(--spaceBetweenElements)
}

#heroTitle {
    align-self: flex-end;
    align-items: flex-end;
    padding: 10px;
    max-width: 45%;
    max-height: 250px;
    background-color: var(--transparentBackground);
    color: var(--whitetext);
}

/* About Section Styles */

main {
    display: flex;
    flex-direction: column;
    max-width: 85%;
    justify-content: center;
    margin: 0 auto;
}

#about {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
    "aboutAside aboutContent"
    ;
    margin-bottom: var(--spaceBetweenElements);
}

#aboutAside{
    grid-area: aboutAside;

}

#aboutContent {
    grid-area: aboutContent;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

#aboutContent p {
    max-width: 50%;
}

#aboutContent img {
    border-radius: 10px;
}

/* Work Section */

#work {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 80% 20%;
    grid-template-areas: 
    "workContent workAside"
    ;
    max-width: 100%;
    margin-bottom: var(--spaceBetweenElements);
}

#workContent {
    grid-area: workContent;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "portfolioCard1 portfolioCard2"
    "portfolioCard3 portfolioCard4"
    ;
}

#portfolioCard1{
    grid-area: portfolioCard1;
    background-image: url(../images/portfolio-saleyha-ahsan.jpg);
}

#portfolioCard2{
    grid-area: portfolioCard2;
    background-image: url(../images/portfolio-simon-tutty-photography.jpg);
}

#portfolioCard3{
    grid-area: portfolioCard3;
    background-image: url(../images/portfolio-allclear-window-cleaning.jpg);
}

#portfolioCard4{
    grid-area: portfolioCard4;
    background-image: url(../images/portfolio-example-grid.jpg);
}

.portfolioCard{
    display: flex;
    position: relative;
    align-items: stretch;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    align-items: center;
    justify-items: center;
    margin:2px;
}

.cardTitle{
    color: var(--brandColor);
    text-align: center;
    background-color: var(--titleBackground);
    flex-grow: 1;
    padding: 10px;
    margin-bottom: -45%;
}
#workAside {
    grid-area: workAside;
    text-align: right;
}

section a {
    color: var(--brandColor);
}

/* Contact Section */

#contact {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
    "contactAside contactDetails"
    ;
    margin-bottom: var(--spaceBetweenElements);
}

#contactAside {
    grid-area: contactAside;
}

#contactDetails {
    grid-area: contactDetails;
    display: flex;
    justify-content: space-around;

}

.contactCards {
    justify-content: end;
    text-align: center;
}

.contactCards p {
    user-select: all;
}